{% extends 'base.html' %}
{% block body %}
<!-- assigned tasks -->
 <div>
  <a href="/deleteall/assigned" type="button" class="btn btn-outline-dark">Delete All Assigned</a>
  <a href="/deleteall/completed" type="button" class="btn btn-outline-dark">Delete All Completed</a>
 </div>

<div class="container">
  <h2>Assigned Tasks</h2>
    <table class="table">
      {% if assigned|length ==0 %}
      <div class="alert alert-secondary" role="alert">
        Congratulations! You don't have any task.
      </div>

      {% else %}
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Task</th>
          <th scope="col">Description</th>
          <th scope="col">Deadline</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for assign in assigned %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{assign.title}}</td>
          <td>{{assign.desc}}</td>
          <td>{{assign.date}}</td>
          <td>
            <a href="/delete/{{assign.sno}}" type="button" class="btn btn-outline-dark btn-sm">Delete</a>
            <a href="/update/{{assign.sno}}" type="button" class="btn btn-outline-dark btn-sm">Update</a>
            <a href="/completed/{{assign.sno}}" type="button" class="btn btn-outline-dark btn-sm">Completed</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}

    </table>
</div> 
<!-- completed tasks -->
<div class="container">
  <h2>Completed Tasks</h2>
    <table class="table">
      {% if completed|length ==0 %}
      <div class="alert alert-secondary" role="alert">
        NO RECORD FOUND!
      </div>

      {% else %}
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Task</th>
          <th scope="col">Description</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        {% for complete in completed %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{complete.title}}</td>
          <td>{{complete.desc}}</td>
          <td>{{complete.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}

    </table>
</div>     
{% endblock body %}
